*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.header{

    background-color: #007aff;
    padding: 20px 0;
}

body {
    margin: 0;
}

.header {
    height: 150px;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px;
    transition: all .1s ease-in-out;
    position: relative;
    z-index: 1111;
    border-radius: 0 0 20px 20px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    animation:  slidedown .4s forwards;
}

@keyframes slidedown{

    from{
        top: 40px;
    }to{
        top: 0;
        box-shadow: 0 0 10px black;
    }
}

.navbar-nav .nav-item .nav-link{

    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 8px 20px;
}

.navbar-nav{

    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .nav-item .nav-button{

    background-color: #ee626b;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 18px;
}

.navbar-nav .nav-link:hover{

    background-color: #4b9cf3;
    transition: 0.5s;
}


.navbar-nav .nav-link.active{

    background-color: #4b9cf3;
}

/* homepage */

section.homepage{

    display: flex;
    background-color: #007aff;
    align-items: center;
    padding: 80px 0 50px 0;
    justify-content: space-between;
    border-radius: 0 0 150px 150px;
    position: relative;
}

.left-content{

    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.left-content h3{

    font: 700 20px sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.left-content h1{

    font: 700 50px sans-serif;
    text-transform: uppercase;
}

.left-content p{

    font: 500 16px sans-serif;
    line-height: 25px;
    width: 80%;
    margin: 30px 0;
}

.left-content form{

    display: flex;
    width: 50%;
    position: relative;
}

.left-content form .input{

    width: 100%;
}

.left-content form .button{

    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    /* border: 2px solid green; */
    border-radius: 25px;
}

.left-content form .button button{

    background-color: #ee626b;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font: 700 15px sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0 25px;
}

.left-content form .input input{

    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 100%;
    background-color: white;
}

.right-image{

    display: flex;
    align-items: center;
    position: relative;
}

.right-image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.right-image .price{

    position: absolute;
    right: 30px;
    top: 20px;
    background-color: #007aff;
    padding: 7px 20px;
    color: white;
    font: 800 20px sans-serif;
    border-radius: 25px;
}

.right-image .price p{
    margin: 0;
}


.right-image .circle{

    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ee626b;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .featureds.row {
    display: flex; /* Flexbox yoki grid dan foydalaning */
    flex-wrap: wrap; /* Elementlarni to'g'ri joylashtirish */
    justify-content: space-around; /* Kerakli tarzda sozlang */
    gap: 15px; 
}

.featureds{

    position: relative;
    bottom: -170px;
    margin: 0 auto;
    display: grid; /* Grid usulini yoqing */
    grid-template-columns: repeat(4, 1fr); /* 4 ta ustun yarating */ 
}

.featureds .featured{

    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    cursor: pointer;
    flex: 1 0 21%; /* Elementlarni 4 ta bir qatorga joylashtirish */
    box-shadow: 0 0 10px black;
   
}

.featured .circle{

    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #007aff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s;
}

.featured:hover .circle{

    background-color: #ee626b;
}

.featured h3{

    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
}

/* end homepage */

/* start-trending */

section.trending{

    padding: 250px 0 130px 0;
}

.title p{

    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ee626b;
}

.title .texts{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title .texts h3{

    font-size: 40px;
    font-weight: 700;
}

.title .texts .btn{

    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ee626b;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

section.trending .trending-cards{

    margin-top: 50px;
}

section.trending .trending-cards .card{

    height: 320px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

section.trending .card .card-image{

    height: 220px;
    border-radius: 20px;
    position: relative;
}

section.trending .card .card-image img{

    width: 100%;
    height: 100%;
    border-radius: 20px;

}

section.trending .card .card-image .price{

    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px 15px;
    background-color: #007aff;
    color: white;
    border-radius: 15px;
    text-align: center;
}

section.trending .card .card-image .price p{

    margin-bottom: 0;
    font-size: 16px;
    text-decoration: line-through;
}

section.trending .card .card-image .price .young-price{

    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

section.trending .card .card-content{

    height: 100px;
    padding: 5px 20px 0 20px;
}

section.trending .card .item{

    background-color: rgb(234, 230, 230);
    height: 100%;
    border-radius: 20px;
}

section.trending .card .card-content p:nth-of-type(1){

    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

section.trending .card .card-content .assasin{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.trending .card .card-content .assasin p{

    text-transform: capitalize;
    color: black;
    font-size: 22px;
    transition: 0.5s;
}

section.trending .card .card-content .assasin .circle{

    width: 50px;
    height: 50px;
    background-color: #ee626b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

section.trending .card .card-content .assasin .circle i{

    color: white;
}

section.trending .trending-cards .card:hover .assasin .circle{

    background-color: #007aff;
   
}

section.trending .card:hover .card-content .assasin p{

    color: #007aff;
}

/* end section.trending */

/* start section.topgames */

section.topgames{

    background-color: rgb(234, 230, 230);
    padding: 80px 0;
    border-radius: 150px;
}

section.topgames .games .game{

    height: 300px;
}

section.topgames .games .game .item{

    background-color: white;
    height: 100%;
    border-radius: 30px;
    position: relative;
}

section.topgames .games .game .image{

    height: 200px;
    
}

section.topgames .games .game .image img{

    width: 100%;
    height: 100%;
    border-radius: 30px;
}

section.topgames .games .game .game-content{

    height: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: -20px;
}

section.topgames .games .game .game-content h3{

    font-size: 20px;
    font-weight: 700;
}

section.topgames .games .game .game-content p{

    margin: 0;
    text-transform: capitalize;
}

section.topgames .games .game .game-content a{

    background-color: #ee626b;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 35px;
}

img{

    object-fit: cover;
}

/* end topgames */

section.topcategories{

    padding: 100px 0;
    text-align: center;
}

section.topcategories .category-title{

    margin-bottom: 40px;
}

section.topcategories .category-title p{

    font: 800 16px sans-serif;
    text-transform: uppercase;
    color: #ee626b;
    margin-bottom: 15px;
}

section.topcategories .category-title h3{

    font: 800 35px sans-serif;
}

section.topcategories .categories .category{

    height: 290px;
    margin-bottom: 15px;
    
}

section.topcategories .categories .category .item{

    background-color: #007aff;
    height: 290px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.topcategories .categories .category .image{

    height: 230px;
    border-radius: 30px;
}

section.topcategories .categories .category .image img{

    border-radius: 30px;
    width: 100%;
    height: 100%;
}

section.topcategories .categories .category .item .text{

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.topcategories .categories .category .item .text p{

    color: white;
    text-transform: capitalize;
    font: 600 20px sans-serif;
    margin: 0;
}

/* end topcategories */

section.shop{

    padding: 80px 0;
}

section.shop .image{

    border: 2px solid red;
    margin: 0 auto;
    border-radius: 30px;
}

section.shop .image img{

    width: 100%;
    height: 100%;
    border-radius: 30px;
}

section.shop .shop{

    border: 2px solid green;
    background-color: rgb(234, 230, 230);
    padding: 50px;
    border-radius: 30px;
}

section.shop .shop p:nth-child(1){

    color: #ee626b;
}






























@media screen and (min-width: 250px) and (max-width: 576px){

    .navbar-nav{
        width: 100%;
        padding: 20px 0;
    }

    .left-content form{

        width: 85%;
        margin-bottom: 80px;
    }

    .left-content form .button button{
        
        font: 500 15px sans-serif;
    }

    section.topcategories .categories{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        
    }

    section.shop .image{

        display: none;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 768px){

    .navbar-nav{

        width: 100%;
        padding: 20px 0;
    }

    .left-content form{

        width: 85%;
        margin-bottom: 80px;
    }

    .left-content form .button button{
        
        font: 500 15px sans-serif;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){

    .navbar-nav{

        width: 100%;
        padding: 20px 0;
    }

    .left-content form{

        width: 85%;
    }

    .left-content form .button button{

        font: 500 15px sans-serif;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){

    .navbar-nav{

        width: 80%;
    }

    .left-content form{

        width: 80%;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1400px){

    .navbar-nav{

        width: 65%;
    }

}